
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Other View</title>
</head>
<body>
    <div> 
        Hello from my other view!


    </div>
</body>
</html>
